.about
    margin-top: 50px
    &-top, &-bottom
        padding: 150px
        display: grid
        grid-template-columns: 500px 500px
        grid-gap: 150px
        text-align: left
        justify-content: center    
    &__demo
        margin-top: 30px
    &-top
        background-color: #F8FBFE
    &-top:hover,&-bottom:hover
        grid-gap: 250px
        transition: 1s
