.about
    margin-top: 50px
    display: none
    &-top, &-bottom
        padding: 150px
        display: grid
        grid-template-columns: 450px 450px
        height: 750px
        grid-gap: 150px
        text-align: left
        justify-content: center    
    &__demo
        margin-top: 30px
    &-top
        position: relative
        background-color: #F8FBFE
        animation: showBlock1 2s

    &-bottom
        position: relative
        animation: showBlock2 2s
    &__image
        position: relative
        &__1
            position: absolute
            left: 0
            top: 0
            width: 320px
            height: 320px
        &__2
            position: absolute
            right: 0
            bottom: 0
            width: 320px
            height: 320px
    &__image
        &__1, &__2
            border-radius: 5px
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75)

@keyframes showBlock1
    0% 
        grid-gap: 1000px
        opacity: 0
    50%
        grid-gap: 500px
        opacity: 0
    100%
        grid-gap: 150px
        opacity: 0.5

@keyframes showBlock2
    0% 
        grid-gap: 0px
        opacity: 0
    50%
        grid-gap: 25px
        opacity: 0
    100%
        grid-gap: 150px
        opacity: 0.5
