.benefits
    &-wrap
        margin: auto
        max-width: 75%
        display: flex
        padding: 50px
        padding-top: 0
    &__one, &__fast, &__functions
        padding: 15px
    &__text
        &::before
            content: ''
            display: block
            background-color: #E8E8EA
            width: 1px
            height: 100px
            float: right
            margin-left: 15px
    &__image
        padding-top: 80px
        padding-bottom: 30px

@media ( max-width: 1240px)
    .benefits
        &-wrap
            max-width: 100%

@media ( max-width: 800px)
    .benefits
        &__text
            h2
                font-size: 20px