.benefits
    &-wrap
        margin: auto
        width: 70%
        display: grid
        grid-template-columns: 1fr 1fr 1fr
    &__one, &__fast, &__functions
        padding: 50px
        border-right: 1px solid #000
    &__image
        padding-top: 80px
        padding-bottom: 30px

