.home
    //margin-top: 120px
    display: block
    &__top
        height: 60%
        background-color: #7a7a7a
        
    &__title, &__subtitle
        color: #fff
    &__title
        font-size: 24px
        & h1
            margin: auto
            padding-top: 50px
            width: 35%
    &__subtitle
        font-size: 14px
        & h2
            padding-top: 15px
            margin: auto
            width: 35%
    &__demo
        padding-top: 60px
    &__bottom
        margin-top: -200px
        & img
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
            max-width: 90%
        
