.swiper-button-next::after, .swiper-button-prev::after
    color: #fff
    font-size: 35px
    font-weight: bold

.info
    &-slider
        background-color: #a1a0a0
        height: 550px
        text-align: center
        &__content
            display: block
            &__1
                position: relative
                background: url("../img/image-9.jpg") no-repeat center center
                background-size: cover
                height: 100%
            &__2
                position: relative
                background: url("../img/image-10.png") no-repeat center center
                background-size: cover
                height: 100%
            &__3
                position: relative
                background: url("../img/image-11.jpg") no-repeat center center
                background-size: cover
                height: 100%
            &__1:before, &__2:before, &__3:before
                content: ''
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                background: rgba(0,0,0,.5)
                z-index: 2
        &__title, &__text
            position: relative
            z-index: 3
            margin: auto
            width: 50%
            color: #fff
        &__video
            position: relative
            z-index: 3
            display: flex
            justify-content: center
            padding: 50px
        &__circle
            margin: auro
            border-radius: 50%
            width: 100px
            height: 100px
            background-color: #fff
            position: relative
        &__triangle
            margin: 0
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 0
            height: 0
            border-radius: 3px
            border-top: 8px solid transparent
            border-bottom: 8px solid transparent
            border-left: 12px solid #f00

@media ( max-width: 1240px)
    .info-slider 
        &__title, &__text
            width: 65%
