.join-block
    background-color: #fff
    padding-top: 70px
    padding-bottom: 70px
    position: relative
    animation: showJoinBlock 1s
    &__title
        text-transform: uppercase
        color: #667378
        padding: 0
    &__text
        max-width: 800px
        margin: auto
        color: #667378
        font-size: 53px
        line-height: 60px
        font-weight: bold
    &__google-play
        & img
            height: 90px

@keyframes showJoinBlock
    0% 
        right: -50%
        opacity: 0
    50%
        right: -25%
        opacity: 0
    100%
        right: 0
        opacity: 0.5
