.join-block
    background-color: #fff
    padding-top: 70px
    padding-bottom: 70px
    display: flex
    flex-direction: column
   
    &__title
        text-transform: uppercase
        color: #667378
        padding: 0
    &__text
        max-width: 800px
        color: #667378
        font-size: 53px
        line-height: 60px
        font-weight: bold
        padding: 0 15px
    &__google-play
        & img
            height: 90px
    &__google-play, &__text, &__title
        transform: translateX(10%)
        opacity: 0
        transition: all 2s
        &._active
            transform: translateX(0)
            opacity: 1

@media ( max-width: 1024px)
    .join-block__text
        font-size: 40px

@media ( max-width: 400px)
    .join-block__text
        font-size: 30px
    .join-block__google-play
        & img
            margin-top: 50px
            height: 70px